.iconP {
  font-size: 0.9rem;
  display: inline-flex;
  background: #d8d8d8;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 15px;
}
.iconP span {
  border-radius: 5px;
  padding: 3px 5px;
}

.react {
  background: #bad5f5;
}
.react span::after {
  content: "React.js";
}
.express {
  background: #f2c986;
}
.express span::after {
  content: "Express";
}
.node {
  background: #e1c1c1;
}
.node span::after {
  content: "Node.js";
}
.python {
  background: #eadd86;
}
.python span::after {
  content: "Python";
}
.mongodb {
  background: #afeae5;
}
.mongodb span::after {
  content: "MongoDB";
}
.card a {
  padding-right: 15px;
}

.githubapi span::after {
  content: "Github API";
}
.status {
  color: #7699c2;
}
.semantic-ui {
  background: #73d9cd;
}
.semantic-ui span::after {
  content: "Semantic-UI";
}
.redux {
  background: #764abc;
}
.redux span::after {
  content: "Redux";
}
.code {
  background: #e1c1c1;
  float: left;
  position: absolute;
  left: 10px;
}
.code span::after {
  content: "Code";
  font-size: 20px;
}
.demo {
  background: #e1c1c1;
  float: right;
  position: absolute;
  right: 10px;
}
.demo span::after {
  content: "Demo";
  font-size: 20px;
}
