.wrapper {
  color: black;
  max-width: 100%;
  padding: 50px;
  text-align: center;
}

.footericon {
  font-size: 40px !important;
  color: black;
}

.envelope:hover {
  color: #6cc644;
}

.github:hover {
  color: #6e5494;
}

.linkedin:hover {
  color: #4875b4;
}

.medium:hover {
  color: #333;
}
